table {
	border: 1px solid black;
	width: 100%;
}	
p.italic {
    font-style: italic;
    font-weight: normal;	
}
p.normal {
    font-style: normal;
    font-weight: normal;
}

dt:hover + dd{
       background: purple;
}
	
